<aside class="sidebar">
  <div class="logo">TVM INFOTECH</div>
  <nav class="nav">
    <div class="dropdown">
      <button
        class="nav-button"
        (click)="toggleHomeDropdown()"
        [attr.aria-expanded]="showHomeDropdown"
        aria-controls="homeDropdown"
      >
        <span class="material-icons">home</span> Work From Home
      </button>

      <div
        *ngIf="showHomeDropdown"
        class="dropdown-content"
        id="homeDropdown">
        <ul class="dropdown-list">
          <li>
            <a routerLink="/dashboard" class="nav-link sub">
              <span class="material-icons">dashboard</span> Dashboard
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</aside>
