<form action="">
    <strong>Profile & Achievements:</strong>
    
    <textarea style="width: 100%; height: 200px; border-radius: 10px; margin-top: 20px; padding: 10px;" name="" id=""></textarea>
    <div class="">
        <select name="resumeCate">
            <option>Select Category</option>
            <option>Programming</option>
            <option>Design</option>
            <option>Management</option>
            <option>Development</option>
          </select>
</div>
    <div class="button-group">
        <a href="education.html">&laquo; Previous</a>
        <button class="update-button" type="submit">Save</button>
        <a href="final.html">Next &raquo;</a>
      </div>
    
</form>