.sidebar {
  width: 250px;
  background-color: #172f48;
  color: white;
  padding: 20px;
  height: 100vh;
  position: fixed;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.nav-button {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  background-color: #34495e;
  color: white;
  border: none;
  text-align: left;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.nav-button:hover {
  background-color: #4bb0d2;
}


