<div class="tabs">
    <a routerLink="/mainlayout/personal" routerLinkActive="active-tab" [routerLinkActiveOptions]="{ exact: true }">Personal</a>
    <a routerLink="/mainlayout/kyc" routerLinkActive="active-tab">KYC</a>
    <a routerLink="/mainlayout/passport" routerLinkActive="active-tab">Passport & Visa</a>
    <a routerLink="/mainlayout/family" routerLinkActive="active-tab">Family</a>
    <a routerLink="/mainlayout/previousEmployee" routerLinkActive="active-tab">Previous Employment</a>
    <a routerLink="/mainlayout/education" routerLinkActive="active-tab">Education</a>
    <a routerLink="/mainlayout/skills" routerLinkActive="active-tab">Skills</a>
    <a routerLink="/mainlayout/certificate" routerLinkActive="active-tab">Certifications</a>
    <a routerLink="/mainlayout/document" routerLinkActive="active-tab">Document</a>
    <a routerLink="/mainlayout/resume" routerLinkActive="active-tab">Resume</a>
    <a routerLink="/mainlayout/final" routerLinkActive="active-tab">Final</a>
</div>
  