.tabs .active {
    background-color: #007bff;
    color: white;
    border: none;
}

.employment-section {
    margin: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    min-height: 150px;
}

.note {
    background-color: #fff3cd;
    color: #856404;
    padding: 10px;
    border: 1px solid #ffeeba;
    margin: 20px;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.add-btn {
    float: right;
    margin-top: -30px;
    padding: 5px;
    text-decoration: none;
    background-color: blue;
    border-radius: 5px;
    color: white;
}
.add-btn a{
    color: white;
    text-decoration: none;
}