<app-nav-details></app-nav-details>
<form class="form-grid" [formGroup]="certificateForm" (ngSubmit)="submitForm()">
    <div class="form-group">
        <label for="">Certificate Name</label>
        <input type="text" name="CertificateName" formControlName="CertificateName">
    </div>
    <div class="form-group">
        <label for="">Certified by</label>
        <input type="text" name="certifiedBy" formControlName="certifiedBy">
    </div>
    <div class="form-group">
        <label for="">Completion Date</label>
        <input type="text" name="CompletionDate" formControlName="CompletionDate">
    </div>
    <div class="form-group">
        <label for="">Marks</label>
        <input type="text" name="marks" formControlName="marks">
    </div>
    
    <div class="button-group">
        <a href="skills">&laquo; Previous</a>
        <button class="update-button" type="submit">Save</button>
        <a [routerLink]="['/document']" routerLinkActive="router-link-active" >Next &raquo;</a>
      </div>
    
</form>