<app-nav-details></app-nav-details>
<form [formGroup]="documentForm" (ngSubmit)="submitForm()">
    <div class="borderLine">
    <h3>KYC Documents</h3>
    <p style="margin: 10px;">Upload images in less size</p>
    <div class="form-grid">
    <div class="form-group">
        <label for="">Pan card Image</label>
        <input type="file" name="panCard" formControlName="panCard" (change)="onFileChange($event, 'panCard')">
    </div>
    <div class="form-group">
        <label for="">Aadhar card image</label>
        <input type="file" name="aadharCard" formControlName="aadharCard" (change)="onFileChange($event, 'aadharCard')">
    </div>
    <div class="form-group">
        <label for="">Passport size image</label>
        <input type="file" name="pSizePhoto" formControlName="pSizePhoto" (change)="onFileChange($event, 'pSizePhoto')">
    </div>
</div>
</div>
<div class="borderLine">
<h3>Education Docs </h3><p style="margin: 10px;">Supported file .pdf only</p>
<div class="form-grid">
    <div class="form-group">
        <label for="">10th education document</label>
        <input type="file" name="matric" formControlName="matric" (change)="onFileChange($event, 'matric')">
    </div>
    <div class="form-group">
        <label for="">12th education document</label>
        <input type="file" name="intermediate" formControlName="intermediate" (change)="onFileChange($event, 'intermediate')">
    </div>
    <div class="form-group">
        <label for="">Graduation education document</label>
        <input type="file" name="graduationMarksheet" formControlName="graduationMarksheet" (change)="onFileChange($event, 'graduationMarksheet')">
    </div>
    <div class="form-group">
        <label for="">PostGraduation education document</label>
        <input type="file" name="postGraduation" formControlName="postGraduation" (change)="onFileChange($event, 'postGraduation')">
    </div>
</div>
</div>
<div class="borderLine">

<div class="leftBox">
    <h3>Bank Details</h3>
<p>Upload clear resolution of the check leaf and pass</p>
    <div class="form-group">
        <label for="checkleaf">Upload Check Leaf</label>
        <input type="file" name="checkLeaf" formControlName="checkLeaf" (change)="onFileChange($event, 'checkLeaf')">
    </div>
</div>
<div class="rightBox">
    <div class="form-group">
        <label for="passbook">Upload Bank Passbook</label>
        <input type="file" name="passbook" formControlName="passbook" (change)="onFileChange($event, 'passbook')">
    </div>
</div>

</div>

    <br>
    <div class="button-group">
        <a routerLink="/certificate">&laquo; Previous</a>
        <button class="update-button" type="submit">Save</button>
        <a href="/resume">Next &raquo;</a>
      </div>
    
    
</form>