<form class="form-grid" action="">
    <div class="form-group">
        <label for="">Qualification</label>
        <input type="text">
    </div>
    <div class="form-group">
        <label for="">Specilization</label>
        <input type="text">
    </div>
    <div class="form-group">
        <label for="">Institute Name</label>
        <input type="text">
    </div>
    <div class="form-group">
        <label for="">University Name</label>
        <input type="text">
    </div>
    <div class="form-group">
        <label for="">Full time/part time</label>
        <input type="text">
    </div>
    <div class="form-group">
        <label for="">from</label>
        <input type="text">
    </div>
    <div class="form-group">
        <label for="">To</label>
        <input type="text">
    </div>
    <div class="form-group">
        <label for="">Percentage(%)</label>
        <input type="text">
    </div>
    <div class="form-group">
        <label for="">Roll No:</label>
        <input type="text">
    </div>
    <div class="form-group">
        <label for="">Education Type</label>
        <select name="" id="">
            <option value="">Select</option>
            <option value="parttime">Part time</option>
            <option value="fulltime">Full Time</option>
        </select>
    </div>
    <br>
    <div class="button-group">
        <a href="education.html">&laquo; Previous</a>
        <button class="update-button" type="submit">Save</button>
        <a href="skills.html">Next &raquo;</a>
      </div>
    
</form>