<div class="tabs">
    <a routerLink="/personal" routerLinkActive="active-tab" [routerLinkActiveOptions]="{ exact: true }">Personal</a>
    <a routerLink="/kyc" routerLinkActive="active-tab">KYC</a>
    <a routerLink="/passport" routerLinkActive="active-tab">Passport & Visa</a>
    <a routerLink="/family" routerLinkActive="active-tab">Family</a>
    <a routerLink="/previousEmployee" routerLinkActive="active-tab">Previous Employment</a>
    <a routerLink="/education" routerLinkActive="active-tab">Education</a>
    <a routerLink="/skills" routerLinkActive="active-tab">Skills</a>
    <a routerLink="/certificate" routerLinkActive="active-tab">Certifications</a>
    <a routerLink="/document" routerLinkActive="active-tab">Document</a>
    <a routerLink="/resume" routerLinkActive="active-tab">Resume</a>
    <a routerLink="/final" routerLinkActive="active-tab">Final</a>
  </div>
  