<nav>
    <div id="navBar">
        <img id="iconimg" [src]="logoUrl" alt="logo">
        <h1 id="tvm">TVM Infotech</h1>
        <i class="ri-home-4-fill"><a routerLink="/">Home</a></i>
    </div>
    
    <!-- Conditionally display Login or Signup buttons -->
    <i class="login">
        <button *ngIf="!showLogin" routerLink="/signup" (click)="toggleForm(true)">SignUp</button>
        <button *ngIf="showLogin" routerLink="/login" (click)="toggleForm(false)">Login</button>
        <!-- <p>Admin</p>
        <a routerLink="/login"><button>Login</button></a>
        <a routerLink="/signup"><button>Signup</button></a> -->
    </i>

</nav>
