<form class="form-grid" action="">
    <div class="form-group">
        <label for="">Skill Name</label>
        <input type="text">
    </div>
    <div class="form-group">
        <label for="">Skill categories</label>
        <input type="text">
    </div>
    <div class="form-group">
        <label for="">Version Number</label>
        <input type="text">
    </div>
    <div class="form-group">
        <label for="">Experience in years</label>
        <input type="text">
    </div>
    <div class="form-group">
        <label for="">Experience in Months</label>
        <input type="text">
    </div>
    
    <div class="form-group">
        <label for="">Self rating(1-5)</label>
        <select name="" id="">
            <option value="">Select</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <br>
    <div class="button-group">
        <a href="education.html">&laquo; Previous</a>
        <button class="update-button" type="submit">Save</button>
        <a href="certification.html">Next &raquo;</a>
      </div>
    
</form>